body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    text-align: center;
}

.header-main {
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: normal;
}

.link-cta {
    font-size: 16px;
    color: aquamarine;
}
