body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    text-align: center;
}

.header-main {
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: normal;
}

.link-cta {
    font-size: 16px;
    color: aquamarine;
}


h2 {
    color: white;
    font-weight: 300;
    font-size: 42px;
}

p {
    color: gray;
    font-size: 21px;
}

.copyright {
    text-align: right;
    color: gray;
}
.campground {
    position: relative;
}

.icon {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}
